// Author: Donald L. Merand

// Base Variables
$page-width: 980px;
$gutter-width: 12px;

$font-color: #413E3B;
$font-size: 24px;
$line-height: 26px;
$background: #FEFEFE;

$pad: $font-size;
$orange: #F68825;


// Mixins
@mixin lato($weight: 400) {
  font-family: 'Lato', sans-serif;
  font-weight: $weight;
}

@mixin thumbnail-box($size: 2) {
  float: left;

  width: $page-width / $size - $gutter-width;
  max-height: ($page-width / $size) * 4/3;
  margin: $gutter-width / 2;

  box-shadow: 0px 0px 12px darken($background, 50%);
}


// Body styles
body {
  color: $font-color;
  background: $background;

  @include lato();
  font-size: $font-size;
  line-height: $line-height;
}

h1 {
  margin-top: $pad * 2;
  font-size: $font-size * 3;
  line-height: $line-height * 3;
}

h2 {
  font-size: $font-size * 2;
  line-height: $line-height * 2;
}

a {
  color: $orange;
  font-weight: 200;
  &:visited { color: $orange; }
}

pre {
  font-size: $font-size / 2;
  line-height: $line-height / 2;
}


// Page Elements
#content {
  width: $page-width;
  height: auto;
  margin: 0 auto;
}


// Classes
.box-full { @include thumbnail-box(1); }
.box-1 { @include thumbnail-box(2); }
.box-2 { @include thumbnail-box(4); }
.box-3 { @include thumbnail-box(8); }
.box-4 { @include thumbnail-box(16); }


.font-center { text-align: center; }
.font-light { color: lighten($font-color, 50%); }
.font-museo {
  font-family: museo,serif;
  font-style: normal;
  font-weight: 700;
}
.font-orange { color: $orange }
.font-thin { @include lato(200); }

.no-display { display: none; }
.pad {
  clear: both;
  padding-top: $pad * 2;
}
