// Author: Donald L. Merand

// Base Variables
$background: #FEFEFE;
$color: #413E3B;
$font-size: 24px;
$gutter-width: 12px;
$line-height: 1.2;
$orange: #F68825;
$pad: $font-size;
$page-width: 980px;


// Mixins
@mixin thumbnail-box($size: 2) {
  float: left;
  margin: $gutter-width / 2;
  max-height: ($page-width / $size) * 4/3;
  width: $page-width / $size - $gutter-width;

  box-shadow: 0px 0px 12px darken($background, 50%);
}


// Body styles
a {
  color: $orange;
  font-weight: 300;

  &:visited { color: $orange; }
}

body {
  font: 300 #{$font-size}/#{$line-height} Lato, sans-serif;
  background: $background;
  color: $color;
  font-size: $font-size;
}

h1 {
  font-size: $font-size * 3;
  margin-top: $pad * 2;
}

h2 {
  font-size: $font-size * 2;
}

pre {
  font-size: $font-size / 2;
}


// Page Elements
#box-1 img { @include thumbnail-box(2); }
#box-2 img { @include thumbnail-box(4); }
#box-3 img { @include thumbnail-box(8); }
#box-4 img { @include thumbnail-box(16); }

#content {
  height: auto;
  margin: 0 auto;
  width: $page-width;
}


// Classes
.font-center { text-align: center; }
.font-light { color: lighten($color, 50%); }
.font-museo {
  font-family: museo, serif;
  font-style: normal;
  font-weight: 700;
}
.font-orange { color: $orange }
.font-thin { font-weight: 300; }

.no-display { display: none; }
.pad {
  clear: both;
  padding-top: $pad;
}
